parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\Modules\*\*Presenter


session:
	expiration: 14 days
	autoStart: true


di:
	export:
		parameters: no
		tags: no

database:
    dsn: %database.dsn%
    user: %database.user%
    password: %database.password%
