{block content}
<h1 class="mx-auto">homepage dizajn</h1>
<div class="mx-auto mt-5" style="width: 25%">

    <h1 class="" n:block=title>Sign in</h1>
    <div class="form-signin">
        {control signInForm}
    </div>


</div>
